@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      /* Use default browser styles for h1 */
      font-size: 2em;
      font-weight: bold;
      margin-top: 0.67em;
      margin-bottom: 0.67em;
    }
  
    h2 {
      /* Use default browser styles for h2 */
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 0.83em;
      margin-bottom: 0.83em;
    }
  
    p {
      /* Use default browser styles for p */
      margin-top: 1em;
      margin-bottom: 1em;
    }

    ol {
        /* Use default browser styles for ol */
        margin-top: 1em;
        margin-bottom: 1em;
      }
    
      li {
        /* Use default browser styles for li */
        margin-bottom: 0.25em;
      }
  }